<!doctype html>
<html>
<head>
  <title>Playing MadLibs</title>
</head>
<body>
    <div>
        <form action="http://localhost:5000/madlib">
            <div>
                Enter name: <input type="text" name="person">
            </div>
            <div>
                Pick a color:
                <select name="color">
                    <option value="red">Red</option>
                    <option value="blue">Blue</option>
                    <option value="yellow">Yellow</option>
                </select>
            </div>
            <div>
                Pick a noun:
                <input type="text" name="noun">
            </div>
            <div>
                Pick a verb:
                <input type="checkbox" name="verbs" value="pick it up,">pick it up
                <input type="checkbox" name="verbs" value="throw it,">throw it
                <input type="checkbox" name="verbs" value="party hardy,">party hardy
                <input type="checkbox" name="verbs" value="smash it,">smash it
            </div>
            <div>
                Pick and adjective:
                    <input type="radio" name="adjective" value="fluffy">Fluffy!
                    <input type="radio" name="adjective" value="amazing">Amazing!
                    <input type="radio" name="adjective" value="poopy">Poopy!
            </div>
            <input type="submit">
        </form>
    </div>
</body>
</html>